rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Como o sistema utiliza autenticação customizada via front-end (Autenticação por Nome)
    // e o Firebase Auth é usado apenas de forma anônima, não é possível validar
    // a identidade real do usuário nas regras do Firestore.
    // Portanto, o controle de acesso é delegado ao aplicativo (Front-end).

    function isAuthenticated() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}
